<header class="fixed w-full flex justify-center items-center bg-zinc-800 text-white z-10 p-4">
    <nav class="flex gap-4">
        <a href="#top">Sobre Mí</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#habilidades">Habilidades</a>
    </nav>
</header>